@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    --tw-bg-opacity: 1;
    background-color: rgb(15 23 42 / var(--tw-bg-opacity));  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.list::-webkit-scrollbar {
  -webkit-appearance: none;
}

.list::-webkit-scrollbar:vertical {
  width:10px;
}

.list::-webkit-scrollbar-button:increment,.list::-webkit-scrollbar-button {
  display: none;
} 

.list::-webkit-scrollbar:horizontal {
  height: 10px;
}

.list::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
}

.list::-webkit-scrollbar-track {
  border-radius: 10px;  
}

/*  */

body::-webkit-scrollbar {
  -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
  width:10px;
}

body::-webkit-scrollbar-button:increment,body::-webkit-scrollbar-button {
  display: none;
} 

body::-webkit-scrollbar:horizontal {
  height: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
}

body::-webkit-scrollbar-track {
  border-radius: 10px;  
}